@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    max-width: 680px;
    width: 95%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/*  */
.login-box {
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-box p {
    color: #666;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #29d392;
}

.show-password {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.options a {
    text-decoration: none;
    color: #1ad389;
}

.signin-button {
    width: 100%;
    padding: 15px;
    background-color: #1ad389;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-button:hover {
    background-color: #08ed92;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    text-decoration: none;
    color: #1ad389;
}

.welcome-back {
    padding: 40px;
    width: 50%;
    background-color: #1ad389;
    border-radius: 0 12px 12px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.welcome-back h2 {
    font-family: "Paytone One", sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.welcome-back p {
    line-height: 1.5;
}
